// *
// * Erdmann & Freunde
// * OPTIMIST Contao Theme
// * erdmann-freunde.de/produkte/contao-themes/optimist/
// *

//
// MIXINS/RESPONSIVE
// --------------------------------------------------

// SASS-VARIABLES
$wrapper-max:   72em;

// $breakpoints: will be used in _grid.scss to generate grid classes
$breakpoints: (
  xs: (
    min:        0,
    max:        (34.375em - 0.0625em), // 549px
  ),
  sm: (
    min:        34.375em, // 550px
    max:        (50em - 0.0625em), // 799px
  ),
  md: (
    min:        50em, // 800px
    max:        (58.75em - 0.0625em), // 939px
  ),
  lg: (
    min:        58.75em, // 940px
    max:        (68.75em - 0.0625em), // 1099px
  ),
  xl: (
    min:        68.75em, // 1100px
    max:        (100em - 0.0625em),
  ),
  xxl: (
    min:        100em, // 1600px
    max:        "none"
  ),
);

$additional_breakpoints: (
  menu: (
    min:        52em, // 768px
    max:        (52em - 0.0625em), // 767px
  )
);

// --------------------------------------------------

@import '../../nutshell/scss/mixins/responsive';

// --------------------------------------------------

// CSS-VARIABLES

// --------------------------------------------------

// PUT ADDITONAL RESPONSIVE MIXINS HERE
